.heading-1{
    font: 700 96px/1 "Sora", sans-serif;
}

.heading-2{
    font: 700 48px/1.2 "Sora", sans-serif;
}

.heading-3{
    font: 700 24px/1.4 "Sora", sans-serif;
}

.heading-4{
    font: 700 16px/1.4 "Sora", sans-serif; 
}

.paragraph{
    font: 400 14px/1.8 "Inter", sans-serif; 
}

.paragraph-b{
    font: 700 14px/1.5 "Inter", sans-serif; 
}

.subtitle{
    font: 700 12px/1.5 "Inter", sans-serif;
}

/*Sora - 600, 700*/
/*Inter - 300, 400, 700*/




